@model ICollection<IlCapo.Models.Bill>


@{
    ViewBag.Title = "Home Page";
}


<div class=" p-0 express" style="background-color: #343a40; border-radius: 15px; box-shadow:10px 10px 5px 4px gray; width: 50vw; z-index: 1000; min-height: 85vh; margin-top: 1vh; position: absolute; border: 2px solid #ffc107; overflow: hidden; transform: translateX(-38vw); border-top: none; border-bottom: none;" id="ordersToGo">
    <div class="col-12 px-0 py-3 d-flex" style="background-color: rgba(255, 255, 255, 0.01)">
        @for (int i = 0; i < 20; i++)
        {

            <span class="mx-0 px-3 arrow-left" onclick="HideOrdersToGo()" style=" color: rgba(255, 2255, 255, .05); font-size: 20px; z-index: 10000; display: none; transition: all 2s;">
                <i style="" class="fas fa-less-than"></i>
            </span>
            <span class="mx-0 px-3 arrow-right" onclick="ShowOrdersToGo()" style=" color: rgba(255, 2255, 255, .05); font-size: 20px; z-index: 10000;transition: all 2s;">
                <i style="" class="fas fa-greater-than"></i>
            </span>
        }
    </div>

    <div class="col-md-12 d-flex flex-wrap p-4 " style="justify-content: center; transition: all 1s cubic-bezier(.42,0,.23,1.09); transform: translateX(19vw);" id="OrdersToGoBtnContainer">
        <button type="button" class="btn btn-outline-warning  " onclick="getBill(0,true)">Agregar orden</button>
    </div>
    @Html.Partial("OrdersToGo")

</div>
<div class="container-fluid d-flex flex-wrap  p-0" style="margin-left: 12vw;">


    <div class="justify-content-center p-2 d-flex" style="width: 74vw;">
        @Html.Partial("Room")
    </div>


    <div class="justify-content-center p-2 d-flex flex-wrap assistant ">
        @Html.Partial("Assistant")
    </div>


</div>


<div class="modal fade m-0 p-0" id="billModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog m-0 p-0" role="document" style="min-width: 100vw;">
        <div class="modal-content m-0 p-0">

            <button type="button" class="btn btn-danger" data-dismiss="modal" style="position:absolute; top:5px; right: 20px; z-index : 100;">
                <i class="fas fa-times "></i>
            </button>

            <div class="modal-body m-0 p-0 " id="bill-body">
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="billModalAux" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="auxModalContent">
            <div class="modal-body" id="modalBody">
                @*@Html.Partial("BillParts/SliceAccount")*@
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="#SliceAccount">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/IndexScripts")

<script>
    var products;
    var sides;
    var extras;

    window.onload = function () {
        getInitialProducts();
        getInitialSides();
        getInitialExtras();
    }

    function getInitialProducts() {
        $.ajax({
            type: "GET",
            url: "Products/GetProducts",
            cache: false
        })
            .then(function (data) {
                products = JSON.parse(data);
            })
            .fail(function (data) {
                alert('Imposible obtener lista de articulos');

            })

        return false;
    }

    function getInitialSides() {
    $.ajax({
        type: "GET",
        url: "Sides/GetSides",
        cache: false
        })
        .then(function (data) {
            sides = JSON.parse(data);
        })
        .fail(function (data) {
            alert('Imposible obtener lista de acompañamientos');

        })

    return false;
    }

    function getInitialExtras() {
        $.ajax({
        type: "GET",
        url: "Extras/GetExtras",
        cache: false
        })
        .then(function (data) {
            extras = JSON.parse(data);
        })
        .fail(function (data) {
            alert('Imposible obtener lista de extras');

        })

    return false;
    }


</script>