<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>


</head>
<body style="max-height: 100vh;">
    <nav class="navbar navbar-expand-lg navbar-light p-3 bg-white" style="box-shadow: 5px 5px 10px grey;">
        <a class="navbar-brand" href="#">
            <img src="~/Images/Logo.jpeg" width="60" height="50" alt="">
        </a>        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ventas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Facturacion", "Index", "ProductCategories", null, new { @class = "nav-link" })
                        @*@Html.ActionLink("Promociones", "Index", "ProductSubCategories", new { @class = "nav-link" })*@
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mantenimiento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Categoria", "Index", "ProductCategories", null, new { @class = "nav-link" })
                        @Html.ActionLink("Subcategoria", "Index", "ProductSubCategories", null, new { @class = "nav-link" })
                        @Html.ActionLink("Productos", "Index", "Products", null, new { @class = "nav-link" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Caja
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" onclick="basicModal(1)">Iniciar caja</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" onclick="basicModal(2)">Retiros</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" onclick="basicModal(3)">Ingresos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" onclick="basicModal(4)">Cierres</a>
                    </div>
                </li>

            </ul>
            <div class="form-inline my-2 my-lg-0">
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </nav>

    <div class="container-fluid body-content m-0 p-0">
        @RenderBody()

        <div class="modal fade" id="BasicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog d-flex justify-content-center " role="document" style="min-width: 80vw;">
                <div class="modal-content w-fc">
                    <div class="modal-header text-center">
                        <div class="container-fluid flex-wrap d-flex">

                            <div class="col-md-12 p-2">
                                <h3 id="modalTitle"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body w-fc" id="BasicModalContent">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger " data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class=" justify-content-center align-items-center loader-container" id="loaderContainer">
            <img src="~/Images/pizza-slice-solid.svg" class="slice-gif" height="100" />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function openLoader() {
            var element = document.getElementById("loaderContainer");
            element.style.display = "flex";
        }

        function closeLoader() {
            var element = document.getElementById("loaderContainer");
            element.style.display = "none";
        }

        function basicModal(id) {

            var url = "";
            var title = "";

            switch (id) {

                case 1:
                    url = "BeginDays/Index";
                    title = "Jornadas"
                    break;

                case 2:
                    url = "Pays/Index";
                    title = "Retiros"
                    break;

                case 3:
                    url = "Entries/Index";
                    title = "Ingresos"
                    break;

                case 4:
                    url = "EndDays/Index";
                    title = "Cierres"
                    break;
            }

            GetView(url, title);
        }

        function GetView(url, title) {
            openLoader();

            $.ajax({
                type: "GET",
                url: url,
                //data: { CantonId: CantonId },
                cache: false
            })
                .then(function (data) {
                    setTimeout(function myfunction() {
                        var modalTitle = document.getElementById("modalTitle");
                        var modalBody = document.getElementById("BasicModalContent");
                        modalTitle.innerHTML = title;
                        modalBody.innerHTML = data;
                        $('#BasicModal').modal('show');
                        closeLoader();

                    }, 1000);


                })
                .fail(function (data) {
                    alert('No');
                    closeLoader();

                })

            return false;
        }

        function InitialCash() {

            var currencies = [5, 10, 25, 50, 100, 1000, 2000, 5000, 10000, 20000, 50000];
            var acum = 0;

            for (var i in currencies) {
                var currencyQuantity = document.getElementById(currencies[i]).value != null ? document.getElementById(currencies[i]).value : 0;
                acum += (currencyQuantity * currencies[i]);
            }

            var cashInput = document.getElementById("Cash");
            cashInput.value = acum;

        }

        function fillTypes(id) {
            openLoader();
            $.ajax({
                type: "GET",
                url: "Pays/GetTypes",
                data: { payType: id },
                cache: false
            })
                .then(function (data) {
                    setTimeout(function myfunction() {
                        var dplPayNames = document.getElementById("payName");
                        var payNames = JSON.parse(data);
                        dplPayNames.innerHTML = drawPayTypes(payNames);
                        closeLoader();

                    }, 1000);


                })
                .fail(function (data) {
                    alert('No');
                    closeLoader();

                })

            return false;
        }

        function drawPayTypes(payNames) {

            var content = "<option selected disabled >Seleccione un tipo</option>";

            for (var i = 0; i < payNames.length; i++) {
                content +=
                    `<option value="${payNames[i].Value}">${payNames[i].Text}</option>`;
            }

            return content;
        }

    </script>
</body>
</html>
