@model IEnumerable<IlCapo.Models.EndDay>

@{
    ViewBag.Title = "Index";
}

    <p>
        <button class=" btn btn-primary " onclick='GetView("EndDays/Create","Agregar cierre")'>Agregar cierre</button>

    </p>
    <div class="col-12 d-flex text-center justify-content-center">
        <span class="text-danger"><strong>@ViewBag.error</strong></span>
    </div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Worker.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Worker.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cash)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreditCard)
    </td>
</tr>
}

</table>
