@model IlCapo.Models.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TableId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Command)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Command)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
