@model IlCapo.Models.Bill


<div class="col-12 text-white text-center p-0  bill-order-name flex-wrap">
    <input type="checkbox" value="@ViewBag.ToGo" id="toGo" class="d-none" />
    <input type="number" value="@ViewBag.TableId" id="tableId" class="d-none" />

    @if (ViewBag.ToGo == "True")
    {
        <div class="col-12 justify-content-start d-flex pt-2">
            <button type="button" class="mx-3 nebulosa-btn btn-outline-warning rounded" id="walking" onclick="express(this.id)">
                <i class="fas fa-walking text-dark" style="font-size:30px;"></i>
            </button>
            <button type="button" class="mx-3 nebulosa-btn btn-outline-warning rounded" id="motorcycle" onclick="express(this.id)">
                <i class="fas fa-motorcycle text-dark" style="font-size:30px;"></i>
            </button>
            <input class="d-none" id="express" value="" />
        </div>
    }
    <h5 class="mb-2">
    <strong> Orden #</strong>
    <span id="orderNumber">@Model.BillId</span>
    </h5>
</div>

<div class="col-12 p-2 d-flex flex-wrap text-white justify-content-around" style="height: 13vh !important;">
    @Html.Partial("BillParts/ClientInfo", Model)
</div>
<div class="col-12 bill-header d-flex flex-wrap text-white text-center border-white border-bottom border-top p-1">
    @Html.Partial("BillParts/BillHeader")
</div>

<div class="bill-body col-12 p-1 bill-products-container" id="billProductsContainer">
    @Html.Partial("BillParts/BillProducts", Model.Items)

</div>

<div class="col-12 d-flex pb-4 flex-wrap text-white">
    <div class="col-md-6 d-flex flex-wrap justify-content-end ">
        <div class="col-md-12 d-flex flex-wrap justify-content-around p-1">

            <button class="col-md-5 d-flex flex-wrap justify-content-center m-1 p-2 bill-btn nebulosa-btn" onclick="commandBill()">
                <i class="fas fa-concierge-bell col-md-12" style="font-size:20px;"></i>
                <span class="col-md-12">
                    Comandar
                </span>
            </button>
            <button class="col-md-5 d-flex flex-wrap justify-content-center m-1 p-2 bill-btn nebulosa-btn" onclick="ShowPaid()">
                <i class="fas fa-cash-register col-md-12" style="font-size:20px;"></i>
                <span class="col-md-12">
                    Caja
                </span>
            </button>
        </div>
    </div>
    <div class="col-md-6 d-flex flex-wrap justify-content-end " style="font-size: 15px;">
        @Html.Partial("BillParts/BillAmount")

    </div>

</div>


<div class="col-md-12 d-flex p-0" style="position:absolute; bottom:0;">
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
</div>


