
<div class="col-12 text-white text-center p-0 bill-order-name">
    <h5><strong> Orden #3256</strong></h5>
</div>

<div class="col-12 p-2 d-flex flex-wrap text-white justify-content-around" style="height: 13vh !important;">
    @Html.Partial("BillParts/ClientInfo")
</div>
<div class="col-12 bill-header d-flex flex-wrap text-white text-center border-white border-bottom border-top p-1">
    @Html.Partial("BillParts/BillHeader")
</div>

<div class="bill-body col-12 p-1" id="billProductsContainer">
    @Html.Partial("BillParts/BillProducts")

</div>

    <div class="col-12 d-flex pb-4 flex-wrap text-white ">

        <div class="col-md-6 p-0 d-flex flex-wrap justify-content-around ">
            @Html.Partial("BillParts/BillActions")

        </div>

        <div class="col-md-6 d-flex flex-wrap justify-content-end ">
            @Html.Partial("BillParts/BillPayMethod")

        </div>

    </div>


    <div class="col-md-12 d-flex p-0" style="position:absolute; bottom:0;">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>


