@model ICollection<IlCapo.Models.Item>




@if (Model != null)
{
    foreach (var item in Model)
    {
        var totalPrice = item.Quantity * item.Product.Price;
        var taxSale = 0;
        var taxService = 0;

        foreach (var tax in item.Product.ProductTaxes)
        {
            if (tax.Tax.Name.ToLower() == "impuesto de servicio")
            {
                taxService = Decimal.ToInt32(tax.Tax.Percentage * totalPrice / 100);
            }

            if (tax.Tax.Name.ToLower() == "impuesto de venta")
            {
                taxSale = Decimal.ToInt32(tax.Tax.Percentage * totalPrice / 100);
            }
        }
                    

        <div class="col-12 billable bill-item d-flex flex-wrap text-white text-center border-white" ondragstart="productDragStart(this, event)"  draggable="true" id="@item.ProductId" name="BillProducts">
            <i class="far fa-times-circle  text-danger position-absolute"  onclick="deleteProduct(@item.ProductId, @item.ItemId)" style="z-index: 10"></i>
            <div class="col-3 p-0">
                @item.Product.Name
            </div>
            <div class="col-3 p-0 justify-content-center">
                <i class="fas fa-minus value-manager red" style="display: @ViewBag.Display" onclick="reduceProductQuantity(@item.ProductId)"></i>
                <span class="mx-2" id=@String.Concat("quantity",item.ProductId)>
                    @item.Quantity
                </span>
                <i class="fas fa-plus value-manager" style="display: @ViewBag.Display" onclick="addProductToBill(@item.ProductId)"></i>
            </div>

            <div class="col-1 p-0">
                @Decimal.ToInt32(item.Product.Price)
                <input class="d-none tax" value="@taxService" name="taxService" id=@String.Concat("taxService",item.ProductId)>
                <input class="d-none tax" value="@taxSale" name="taxSale" id=@String.Concat("taxSale",item.ProductId)>
            </div>
            <div class="col-2 p-0 " id=@String.Concat("totalPrice",item.ProductId) name="totalPrice">
                @Decimal.ToInt32(totalPrice)
            </div>
            <div class="col-3 p-0">
                <input class="form-control rounded" type="text" id=@String.Concat("observation",item.ProductId) value="@item.Description">
            </div>
            <div class="col-12 d-flex flex-wrap text-white justify-content-center font-weight-light">
                <button type="button" class="btn justify-content-center p-0 align-content-center btn-outline-success text-center text-white d-flex col-1 border-white extra-button" onmouseover="showExtrasContainer(@item.ProductId)" onmouseout="hideExtrasContainer(@item.ProductId)">Extras</button>
                <div class="position-absolute flex-wrap extras-container" onmouseover="showExtrasContainer(@item.ProductId)" onmouseout="hideExtrasContainer(@item.ProductId)" id="@String.Concat("extrasContainer",item.ProductId)">
                    @for (int i = 1; i <= item.Quantity; i++)
                    {
                        var extraContainerId = "extraContainer" + item.ProductId + i;
                        <div class="d-flex flex-wrap p-0 border-right border-white mr-1 mt-2" id="@extraContainerId" style="font-size: 10px; width: 31%; max-width: 50%;">
                            <div class="col-12 flex-wrap d-flex justify-content-center p-0">
                                @foreach (var extra in ViewBag.Extras)
                                {
                                    var quantity = 0;
                                    foreach (var ItemExtra in item.ItemExtras)
                                    {
                                        if (extra.ExtraId == ItemExtra.ExtraId && ItemExtra.ProductQuantity == i)
                                        {
                                            quantity = ItemExtra.Quantity;
                                        }
                                    }

                                    var extraFinalPrice = quantity * extra.Price;

                                    <div class=" col-12 d-flex flex-wrap p-0 mb-2">
                                        <div class="col-md-7 p-0 d-flex justify-content-start align-items-center">
                                            <input type="number" value="@Decimal.ToInt32(extra.Price)" name="extraUnitPrice" class="d-none" id=@String.Concat("extraUnitPrice",item.ProductId,i,extra.ExtraId)>
                                            <input type="number" value="@Decimal.ToInt32(extraFinalPrice)" name="extraFinalPrice" class="d-none " id=@String.Concat("extraFinalPrice",item.ProductId,i,extra.ExtraId)>
                                            <label class="m-0">@extra.Name ¢@Decimal.ToInt32(extra.Price)</label>
                                        </div>
                                        <div class="col-md-5 p-0 d-flex justify-content-start align-items-center">
                                            <i class="fas fa-minus value-manager red text-white" style="display: @ViewBag.Display" onclick="reduceExtraQuantity(@item.ProductId@i@extra.ExtraId)"></i>
                                            <span class="mx-2" id=@String.Concat("extraQuantity",item.ProductId,i,extra.ExtraId)>
                                                @quantity
                                            </span>
                                            <i class="fas fa-plus value-manager text-white" style="display: @ViewBag.Display" onclick="addExtraToBill(@item.ProductId@i@extra.ExtraId)"></i>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="col-11 d-flex flex-wrap text-white justify-content-center font-weight-light" id="@String.Concat("sidesContainer",item.ProductId)">
                    @for (int i = 1; i <= item.Quantity; i++)
                    {
                        <div class="d-flex p-2 mx-1 my-2 col-3 pr-4 rounded border flex-wrap text-center background-light position-relative" style="min-height: 40px;" id="@String.Concat("sideLabelContainer", item.ProductId, i)">

                            @foreach (var selectedSide in item.ItemSides)
                            {
                                if (selectedSide.ProductQuantity == i)
                                {
                                    <small class="mx-2" id="@String.Concat("sideLabel", item.ProductId, i, selectedSide.SidesId)">
                                        <input type="number" value="@selectedSide.SidesId" class="d-none" id="@String.Concat("sideInput", item.ProductId, i, selectedSide.SidesId)" />
                                        @selectedSide.Sides.Name
                                    </small>
                                }
                            }


                            <i class="fas fa-pencil-alt side-edit" style="display: @ViewBag.Display" onclick="editSides(@item.ProductId@i, @item.ProductId, @i)"></i>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}

